html {
  font-family: 'Helvetica Neue', sans-serif;
}

.prof-box {
  width: 500px;
  height: 700px;
  background: rgba(0, 0, 0, 0.4);
  margin:auto;
  padding: 40px;
  color: white;
  text-align: center;
  float:left;
}

.prof-pic {
  border-radius: 50%;
  height: 200px;
  width: 200px;
}

.icons {
  font-size: 70px;
  border:none;
  text-decoration: none;
  font-decoration: none;
  display:block;
}

.extra {
	font-family: 'Oswald', sans-serif;
	font-size:25px;
	float:right;
	padding-right:300px;
}

pre {
	font-family: 'Oswald', sans-serif;
	font-size:25px;
}

.music-player{
 position: absolute;
 top: 80px;
 right: 350px;
}
